<div class="container mt-5">

  <h1 class="text-center text-primary">Forms</h1>

  <div class="row">
    <div class="col">
      <h2>New Task</h2>
      <form (submit)="addTask()">

        <!-- use the json pipe to see how newTask changes in real time -->
        <p> {{ newTask | json }} </p>
        Title:
        <input type="text" name="newTask.title" [(ngModel)]="newTask.title" class="form-control" /> Description:
        <input type="text" name="newTask.description" [(ngModel)]="newTask.description" class="form-control" />
        <br>
        <input type="submit" value="Create Task" class="btn btn-primary" />
      </form>
    </div>
    <div class="col">
      <h2>All Tasks</h2>
      Display all lists:
      <p *ngFor="let task of tasks"> {{ task.title | json }} 

        <button (click)="updateTask(task)" class="btn btn-primary">Edit</button>
        <button (click)="deleteTask(task)" class="btn btn-primary">Delete</button>
      </p>

      
    </div>
  </div>
  
  <!-- Display one task:<p> {{ newTask | json }} </p> -->

</div>
