<div class="container mt-5">

  <h1 class="text-center text-primary">CRUD Forms</h1>
<div class="row">
  <div class="col-md-6">
      <h2>New Task</h2>
      <form (submit)="addTask()">

        <!-- use the json pipe to see how task changes in real time -->
        <p> {{ task | json }} </p> 
        Title:
        <input type="text" name="task.title" [(ngModel)]="task.title" class="form-control" /> Description:
        <input type="text" name="task.description" [(ngModel)]="task.description" class="form-control" />
        
        <input type="submit" value="Create Task" class="btn btn-primary" />
      </form>

    
  </div>
</div>
  <div class="row">
    <div class="col">

        <h2>Task List</h2>
        <div class="border border-primary mb-1 p-5" *ngFor="let task of tasks"> {{ task.title | json }} 
  
          <!-- need to pass in the id:  task._id -->
          <button (click)="getWidget(task._id)" class="btn btn-primary">Edit</button>
         
          <button (click)="deleteTask(task)" class="btn btn-primary">Delete</button>
        </div>

    </div>
    <div class="col">
    <h2>Edit forms</h2>
         
        tasks details <p> {{ taskDetails | json }} </p>
        <form (submit) = "updateTask(taskDetails_id)">
            Title: <input type="text" name="taskDetails.title" [(ngModel)]="taskDetails.title" class="form-control" /> Description:
            <input type="text" name="taskDetails.description" [(ngModel)]="taskDetails.description" class="form-control" />
            
            <input type="submit" value="Update Task" class="btn btn-primary" />
        </form>
      
    </div>
  </div>
  
  <!-- Display one task:<p> {{ task | json }} </p> -->

</div>
